div.nba-searchContainer div.registerSelect select {
    margin-left: 10px;
    margin-bottom: 10px;
}

div.nba-searchContainer div.nba-searchInput, div.nba-searchContainer div.nba-searchButton {
    display: inline-block;
}

div.nba-searchContainer div.nba-searchInput input {
    width: 350px;
}

div.nba-searchContainer div.nba-progressSpinner div.spinner {
      top: -20px !important;
      margin: 50px auto 0;
}

div.nba-searchContainer a.nba-edit-link {
    background: url('../images/nba-registers-edit-24.png') 24px;
    height: 24px;
    width: 24px;
    display: inline-block;
    margin-right: 10px;
}

div.nba-searchContainer div.resultsContainer div.grid table td {
    word-wrap: break-word;
}